<div class="card my-4 col-md-6 offset-md-3">
    <div class="card-body">
        <h2 class="text-center">Ingrese los datos</h2>
        <form action="" method="POST">
            <div class="form-group row">
                <label for="presupuesto" class="col-sm-3 col-form-label">Presupuesto:</label>
                <div class="col-sm-9">
                    <input type="number" min="0" class="form-control" id="presupuesto" name="presupuesto" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="die" class="col-sm-7 col-form-label">Demanda Insatisfecha de Estudiantes:</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="die" name="die" min="0" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="dte" class="col-sm-7 col-form-label">Demanda Total de Estudiantes:</label>
                <div class="col-sm-5">
                    <input type="number" class="form-control" id="dte" name="dte" min="0" required>
                </div>
            </div>
            <div class="form-group">
                <label for="patrones" class="col-sm-3 col-form-label">Patrones:</label>
                <div class="col-sm-3">
                    <select name="patrones" id="patrones" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <!--<div class="d-flex justify-content-between form-group">
                <label for="ocupantes" class="col-sm-3">Ocupantes</label>
                <div class="col-sm-3">
                    <input type="number" min="0" class="form-control" name="ocupantes" id="ocupantes">
                </div>
                <label for="costo" class="col-sm-2">Costo</label>
                <div class="col-sm-4">
                    <input type="number" min="0" class="form-control" name="costo" id="costo">
                </div>
            </div>-->
        </form>
    </div>
</div>

