<div class="col-md 12">
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" >
                    <div class="card-header">
                        <h5 class="card-title">Generar conjunto patrones</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body-desc">
                            <h6 class="card-subtitle mb-2 text-muted">Generacion</h6>
                            <p class="card-text">Generar un nuevo conjunto de patrones a apartir de los datos ingresados por el usuario.</p>
                        </div>
                        <div class=" card-body-btn">
                            <a href="patrones/registrar" class="btn btn-dark">Ir a generar</a>
                        </div>
                    </div>
                    
                </div>

                <div class="card" >
                    <div class="card-header">
                        <h5 class="card-title">Listar conjunto de patrones</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body-desc">
                            <h6 class="card-subtitle mb-2 text-muted">Listar</h6>
                            <p class="card-text">Lista todos los conjuntos que se agregaron.</p>
                        </div>
                        <div class=" card-body-btn">
                            <a href="patrones/listar" class="btn btn-dark">Ir a listar</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" >
                    <div class="card-header">
                        <h5 class="card-title">Modificar conjunto de patrones</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body-desc">
                            <h6 class="card-subtitle mb-2 text-muted">Modificar</h6>
                            <p class="card-text">Modifica el conjunto de patrones escogido.</p>
                        </div>
                        <div class=" card-body-btn">
                            <a href="patrones/modificar" class="btn btn-dark">Ir a modificar</a>
                        </div>
                    </div>
                </div>

                <div class="card" >
                    <div class="card-header">
                        <h5 class="card-title">Eliminar conjunto de patrones</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-body-desc">
                            <h6 class="card-subtitle mb-2 text-muted">Eliminar</h6>
                            <p class="card-text">Elimina un conjunto de patrones del registro.</p>
                        </div>  
                        <div class=" card-body-btn">
                            <a href="patrones/eliminar" class="btn btn-dark">Ir a eliminar</a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


